.login_box_box {
    position: relative;
    top: 30px;
    background-color: rgba(255, 255, 255, 0.5); /* 배경만 투명하게 */
    width: 800px;
    height: 380px;
    margin: auto;


    display: flex;              /* 🔥 핵심 */
    justify-content: center;   /* 가로 정렬 */
    align-items: center;       /* 세로 정렬 */
}

.info_box {
    /*border: 1px solid red;*/
    background-color: white;
    width: 750px;
    height: 300px;
    padding: 30px;
    box-sizing: border-box;    /* padding 포함한 전체 크기 계산 */
    font-size: 24px;
    /*font-weight: bold;*/
}

.joinok_box{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 2px 1px black;
    color: gray;
}